.container {
  background-color: rgb(56, 5, 5);
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1640px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border: 1px solid blanchedalmond;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 2em 0;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

button {
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5rem;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 70%;
}

.box p {
  font-size: 1.5rem;
}

.count {
  font-size: 2.5rem;
}

.box {
  background-color: orangered;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: .75em;
}

@media (min-width: 1640px) {
  .container {
    margin:  0 auto;
  }
}