.container {
    position: relative;
}

.pop-up {
    height: 350px;
    width: 500px;
    background-color: brown;
    border: 1px solid #FFFFFF;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    border-radius: 10px;
    top: 200px;
    padding: 2em;
}

.pop-up p {
    font-size: 2rem;
    text-align: center;
}

.pop-up button {
    border: 1px solid #FFFFFF;
    padding: .5em 1em;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}